body{
	background: #e4b60c !important;
	height: 100vh;

}

h1.title{
	font-family: 'Roboto', sans-serif !important;
	padding-bottom: 12px ;
	border-bottom: 1px solid #5a5a5a40;

}

#loop-number-input{
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.record_button_inside  {
	background-color: #673AB7;
	padding: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border-color: transparent;
	color: white;
	font-size: 26px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.replay_button{
	float: right;
	width: 40px;
	height: 40px;
	font-size: 20px;
	padding: inherit;
}

.record_button_inside:focus {

	/*background-color: transparent;*/
	border: none;
}


.padd {
	margin: 30px 0px;
}
.recorder_div{
	position: relative;
	top: 25%;
	/*height: 100vh;*/
}

.recorder_div div  ,h1 , p {
	position: relative;
	top: 25%;
	
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}